.banner {
  position: relative;
  width: 100%;
  height: 36vw;
  margin-bottom: 102px;
  background-color: #ccc;
  background-image: url("../img/Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__link {
    display: block;
    position: absolute;
    bottom: 148px;
    left: -144px;
    transform: rotate(-90deg);
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -24px;
      transform: rotate(-45deg);
      margin-top: -2px;
      margin-left: -2px;
      display: block;
      width: 4px;
      height: 4px;
      background-color: transparent;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -26px;
      transform: rotate(-45deg);
      margin-top: -8px;
      margin-left: -8px;
      display: block;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }

  &__title {
    height: 100%;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 9px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;

    span {
      display: inline-block;
      vertical-align: middle;
      width: 814px;
      color: #fff;
      text-shadow: 0 0 20px rgba(48,48,48,0.7);
    }

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}
