.social {
  list-style: none;
  font-size: 0;
  text-align: center;
  margin: 0 0 100px;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
